**10 Function shows magic in Pandas**:

1.**pandas.DataFrame.insert**:
                              DataFrame.insert(loc, column, value, allow_duplicates=_NoDefault.no_default):-
                              Insert column into DataFrame at specified location.


2.**pandas.DataFrame.pop**:-
                              DataFrame.pop(item):-
                              Return item and drop from frame. Raise KeyError if not found.


3.**pandas.DataFrame.xs**:-
                          DataFrame.xs(key, axis=0, level=None, drop_level=True):-Return cross-section from the Series/DataFrame.

This method takes a key argument to select data at a particular level of a MultiIndex.

4.**pandas.DataFrame.get**:-
                          DataFrame.get(key, default=None):-
Get item from object for given key (ex: DataFrame column).
Returns default value if not found.

5.**pandas.DataFrame.isin**:-
                          DataFrame.isin(values):-
Whether each element in the DataFrame is contained in values.

Parameters:-
valuesiterable, Series, DataFrame or dict

6.**pandas.DataFrame.where**:-
                          DataFrame.where(cond, other=_NoDefault.no_default, *, inplace=False, axis=None, level=None, errors='raise', try_cast=_NoDefault.no_default):-Replace values where the condition is False.

Parameters:-
condbool Series/DataFrame, array-like, or callable


7.**pandas.DataFrame.mask**:-
                          DataFrame.mask(cond, other=nan, *, inplace=False, axis=None, level=None, errors='raise', try_cast=_NoDefault.no_default):-
Replace values where the condition is True.

Parameters:-
condbool Series/DataFrame, array-like, or callable

8.**pandas.DataFrame.combine**:-
                          DataFrame.combine(other, func, fill_value=None, overwrite=True):-
Perform column-wise combine with another DataFrame.

Combines a DataFrame with other DataFrame using func to element-wise combine columns. The row and column indexes of the resulting DataFrame will be the union of the two.


9.**pandas.DataFrame.merge**:-
                          DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None):-
Merge DataFrame or named Series objects with a database-style join.

A named Series object is treated as a DataFrame with a single named column.

10.**pandas.DataFrame.align**:-
                          DataFrame.align(other, join='outer', axis=None, level=None, copy=True, fill_value=None, method=None, limit=None, fill_axis=0, broadcast_axis=None):-
Align two objects on their axes with the specified join method.

Join method is specified for each axis Index.

In [ ]:
import pandas as pd

In [ ]:
#1st function:-insert()
df1 = pd.DataFrame({'col1':[1,2],'col2':[3,4]})
print(df1)

#inserting a new colomn

df1.insert(1,'newcol',[99,100])
print(df1)

   col1  col2
0     1     3
1     2     4
   col1  newcol  col2
0     1      99     3
1     2     100     4

In [ ]:
#2nd function:-pop()
df2 = pd.DataFrame([('falcon', 'bird', 389.0),
                   ('parrot', 'bird', 24.0),
                   ('lion', 'mammal', 80.5),
                   ('monkey', 'mammal', 12.0)],
                  columns=('name', 'class', 'max_speed'))
print(df2)
print("\n")
#apply pop function

print(df2.pop('class'))
print("\n")
print(df2)

     name   class  max_speed
0  falcon    bird      389.0
1  parrot    bird       24.0
2    lion  mammal       80.5
3  monkey  mammal       12.0


0      bird
1      bird
2    mammal
3    mammal
Name: class, dtype: object


     name  max_speed
0  falcon      389.0
1  parrot       24.0
2    lion       80.5
3  monkey       12.0

In [ ]:
#3rd function:-xs()

d = {'num_legs': [4, 4, 2, 2],
     'num_wings': [0, 0, 2, 2],
     'class': ['mammal', 'mammal', 'mammal', 'bird'],
     'animal': ['cat', 'dog', 'bat', 'penguin'],
     'locomotion': ['walks', 'walks', 'flies', 'walks']}
df3=pd.DataFrame(data=d)
df3 = df3.set_index(['class','animal','locomotion'])
print(df3)
print("\n")

#get values at specified index
print(df3.xs("mammal"))
print("\n")
#get values at several indexes
print(df3.xs(('mammal','dog')))

                           num_legs  num_wings
class  animal  locomotion
mammal cat     walks              4          0
       dog     walks              4          0
       bat     flies              2          2
bird   penguin walks              2          2


                   num_legs  num_wings
animal locomotion
cat    walks              4          0
dog    walks              4          0
bat    flies              2          2


            num_legs  num_wings
locomotion
walks              4          0

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:2881: PerformanceWarning: indexing past lexsort depth may impact performance.
  return runner(coro)

In [ ]:
#4th function:-get()

df4 = pd.DataFrame(
    [
        [24.3, 75.7, "high"],
        [31, 87.8, "high"],
        [22, 71.6, "medium"],
        [35, 95, "medium"],
    ],
    columns=["temp_celsius", "temp_fahrenheit", "windspeed"],
    index=pd.date_range(start="2014-02-12", end="2014-02-15", freq="D"),
)
print(df4)
print("\n")

#get values
print(df4.get(["temp_celsius", "windspeed"]))

            temp_celsius  temp_fahrenheit windspeed
2014-02-12          24.3             75.7      high
2014-02-13          31.0             87.8      high
2014-02-14          22.0             71.6    medium
2014-02-15          35.0             95.0    medium


            temp_celsius windspeed
2014-02-12          24.3      high
2014-02-13          31.0      high
2014-02-14          22.0    medium
2014-02-15          35.0    medium

In [ ]:
#5th function:-isin()

df5 = pd.DataFrame({'num_legs': [2, 4], 'num_wings': [2, 0]},
                  index=['falcon', 'dog'])
print(df5)
print("\n")

#isinfunction

print(df5.isin([0,2]))

        num_legs  num_wings
falcon         2          2
dog            4          0


        num_legs  num_wings
falcon      True       True
dog        False       True

In [ ]:
#6th functio:-where()
import numpy as np
df6 = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
print(df6)
print("\n")

#where

print(df6.where(df6 > 7))

   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9


     A    B
0  NaN  NaN
1  NaN  NaN
2  NaN  NaN
3  NaN  NaN
4  8.0  9.0

In [ ]:
#7th functio:-mask()
import numpy as np
df7 = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
print(df7)
print("\n")

#mask

print(df6.mask(df6 > 7))

   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9


     A    B
0  0.0  1.0
1  2.0  3.0
2  4.0  5.0
3  6.0  7.0
4  NaN  NaN

In [ ]:
#8th function:-combine()
df8_1 = pd.DataFrame({'A': [0, 0], 'B': [4, 4]})
print(df8_1)
print("\n")

df8_2 = pd.DataFrame({'A': [1, 1], 'B': [3, 3]})
print(df8_2)
print("\n")

print(df8_1.combine(df8_2, np.minimum))

   A  B
0  0  4
1  0  4


   A  B
0  1  3
1  1  3


   A  B
0  0  3
1  0  3

In [ ]:
#9th function :- merge()
df9_1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
print(df9_1)
print("\n")

df9_2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})
print(df9_2)
print("\n")

print(df9_1.merge(df9_2, left_on='lkey', right_on='rkey'))

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5


  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8


  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

In [ ]:
#10th function :- align()
df10 = pd.DataFrame(
    [[1, 2, 3, 4], [6, 7, 8, 9]], columns=["D", "B", "E", "A"], index=[1, 2]
)
print(df10)
print("\n")


df10_1 = pd.DataFrame(
    [[10, 20, 30, 40], [60, 70, 80, 90], [600, 700, 800, 900]],
    columns=["A", "B", "C", "D"],
    index=[2, 3, 4],
)
print(df10_1)
print("\n")

left1, right1 = df10.align(df10_1, join="outer", axis=1)
print(left1)
print("\n")
print(right1)
print("\n")

left2, right2 = df10.align(df10_1, join="outer", axis=0)
print(left2)
print("\n")
print(right2)
print("\n")


left3, right3 = df10.align(df10_1, join="outer", axis=None)
print(left3)
print("\n")
print(right3)
print("\n")

   D  B  E  A
1  1  2  3  4
2  6  7  8  9


     A    B    C    D
2   10   20   30   40
3   60   70   80   90
4  600  700  800  900


   A  B   C  D  E
1  4  2 NaN  1  3
2  9  7 NaN  6  8


     A    B    C    D   E
2   10   20   30   40 NaN
3   60   70   80   90 NaN
4  600  700  800  900 NaN


     D    B    E    A
1  1.0  2.0  3.0  4.0
2  6.0  7.0  8.0  9.0
3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN


       A      B      C      D
1    NaN    NaN    NaN    NaN
2   10.0   20.0   30.0   40.0
3   60.0   70.0   80.0   90.0
4  600.0  700.0  800.0  900.0


     A    B   C    D    E
1  4.0  2.0 NaN  1.0  3.0
2  9.0  7.0 NaN  6.0  8.0
3  NaN  NaN NaN  NaN  NaN
4  NaN  NaN NaN  NaN  NaN


       A      B      C      D   E
1    NaN    NaN    NaN    NaN NaN
2   10.0   20.0   30.0   40.0 NaN
3   60.0   70.0   80.0   90.0 NaN
4  600.0  700.0  800.0  900.0 NaN